.card {
    background: #fff;
    border-radius: 2px;
    height: 150px;
    margin: 20px;
    position: relative;
    width: 150px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:rgb(234, 200, 245);
  }
  .card > .img-container > img {
    width: 60%
  }
  
  .card > .content {
    padding-left:20px;
    padding-right: 20px;
    font-size: 15px;
  }
  